page-commonques {
.row{
    
    border-bottom: 1px dotted #390c2b;
    margin-top: 15px;
    h3{
        color: #390c2b;
        max-width: 100%;
        font-weight: normal;
    }
    h6{
       color: #80175f;
        max-width: 100%;
        font-weight: normal;
        margin-top: 0.6rem;
        font-size: 1.2rem;

    }
}
}
