page-clientcomments {
    .con{
        border-bottom:2px solid #390c2b;
        margin-left: 3%;
        margin-right: 3%;
        h6{
            width: 100%;
            margin-left: 4%;
            text-decoration: underline;
            font-size: 13px;
             color: #390c2b;
        }
        p{
            text-align: center;
            font-size: 17px;
            color: #390c2b;
            width: 100%;
        }
        .stars{
            margin-left:auto;
            font-size: 18px;
            margin-right: auto;
            padding-bottom: 15px;
        }
       
    }

}
