page-changepass3 {
.rowheader{
        height: 105px;
    }
  
      img{
         border-radius: 50%;
         background-color: white;
         margin-left: 10%;
         margin-top: 15px;
     }
     h6{
          margin-top: 2.6rem !important;
          margin-left: 5%;
     }
     .button{
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
        text-transform: none;
     }
     .contentdiv{
         margin-left: 4%;
         margin-top: 10%;
     }
  
}
